<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
<img src=" https://d17fnq9dkz9hgj.cloudfront.net/breed-uploads/2018/08/abyssinian-detail.jpg?bust=1535664455&width=355 ">
<div class="grid grid_gutterLg m-grid_alignBottom">
<div class="grid-col grid-col_1/2@minMd">
<h3 class="txt m-txt_heavy m-txt_uppercase u-vr1x">Playfulness</h3>
<div class="meterBar">
<div class="meterBar-inner">
<span class="u-isVisuallyHidden">
                            5 out of 5
                        </span>
</div>
<span class="meterBar-range meterBar-range_5/5"></span>
</div>
</div>
<div class="grid-col grid-col_1/2@minMd">
<h3 class="txt m-txt_heavy m-txt_uppercase u-vr1x">Activity Level</h3>
<div class="meterBar">
<div class="meterBar-inner">
<span class="u-isVisuallyHidden">
                            5 out of 5
                        </span>
</div>
<span class="meterBar-range meterBar-range_5/5"></span>
</div>
</div>
<div class="grid-col grid-col_1/2@minMd">
<h3 class="txt m-txt_heavy m-txt_uppercase u-vr1x">Friendliness To Other Pets</h3>
<div class="meterBar">
<div class="meterBar-inner">
<span class="u-isVisuallyHidden">
                            3 out of 5
                        </span>
</div>
<span class="meterBar-range meterBar-range_3/5"></span>
</div>
</div>
<div class="grid-col grid-col_1/2@minMd">
<h3 class="txt m-txt_heavy m-txt_uppercase u-vr1x">Friendliness To Children</h3>
<div class="meterBar">
<div class="meterBar-inner">
<span class="u-isVisuallyHidden">
                            2 out of 5
                        </span>
</div>
<span class="meterBar-range meterBar-range_2/5"></span>
</div>
</div>
<div class="grid-col grid-col_1/2@minMd">
<h3 class="txt m-txt_heavy m-txt_uppercase u-vr1x">Grooming Requirements</h3>
<div class="meterBar">
<div class="meterBar-inner">
<span class="u-isVisuallyHidden">
                            2 out of 5
                        </span>
</div>
<span class="meterBar-range meterBar-range_2/5"></span>
</div>
</div>
<div class="grid-col grid-col_1/2@minMd">
<h3 class="txt m-txt_heavy m-txt_uppercase u-vr1x">Vocality</h3>
<div class="meterBar">
<div class="meterBar-inner">
<span class="u-isVisuallyHidden">
                            1 out of 5
                        </span>
</div>
<span class="meterBar-range meterBar-range_1/5"></span>
</div>
</div>
<div class="grid-col grid-col_1/2@minMd">
<h3 class="txt m-txt_heavy m-txt_uppercase u-vr1x">Need for Attention</h3>
<div class="meterBar">
<div class="meterBar-inner">
<span class="u-isVisuallyHidden">
                            4 out of 5
                        </span>
</div>
<span class="meterBar-range meterBar-range_4/5"></span>
</div>
</div>
<div class="grid-col grid-col_1/2@minMd">
<h3 class="txt m-txt_heavy m-txt_uppercase u-vr1x">Affection Toward Its Owners</h3>
<div class="meterBar">
<div class="meterBar-inner">
<span class="u-isVisuallyHidden">
                            4 out of 5
                        </span>
</div>
<span class="meterBar-range meterBar-range_4/5"></span>
</div>
</div>
<div class="grid-col grid-col_1/2@minMd">
<h3 class="txt m-txt_heavy m-txt_uppercase u-vr1x">Docility</h3>
<div class="meterBar">
<div class="meterBar-inner">
<span class="u-isVisuallyHidden">
                            1 out of 5
                        </span>
</div>
<span class="meterBar-range meterBar-range_1/5"></span>
</div>
</div>
<div class="grid-col grid-col_1/2@minMd">
<h3 class="txt m-txt_heavy m-txt_uppercase u-vr1x">Intelligence</h3>
<div class="meterBar">
<div class="meterBar-inner">
<span class="u-isVisuallyHidden">
                            4 out of 5
                        </span>
</div>
<span class="meterBar-range meterBar-range_4/5"></span>
</div>
</div>
<div class="grid-col grid-col_1/2@minMd">
<h3 class="txt m-txt_heavy m-txt_uppercase u-vr1x">Independence</h3>
<div class="meterBar">
<div class="meterBar-inner">
<span class="u-isVisuallyHidden">
                            3 out of 5
                        </span>
</div>
<span class="meterBar-range meterBar-range_3/5"></span>
</div>
</div>
<div class="grid-col grid-col_1/2@minMd">
<h3 class="txt m-txt_heavy m-txt_uppercase u-vr1x">Hardiness</h3>
<div class="meterBar">
<div class="meterBar-inner">
<span class="u-isVisuallyHidden">
                            2 out of 5
                        </span>
</div>
<span class="meterBar-range meterBar-range_2/5"></span>
</div>
</div>
</div>